<ion-content>
  <div id="logo">
    <img [src]="'assets/img/logo.png'" alt="image">
  </div>
  <h1>Inicia la sessió</h1>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input aria-label="Usuari" type="text" placeholder="Introdueix el nom d'usuari" formControlName="username">
          <ion-icon aria-hidden="true" name="person" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input aria-label="Contrasenya" type="password" placeholder="Introdueix la contrasenya"
          formControlName="password">
          <ion-icon aria-hidden="true" name="key" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
      <div>
        <ion-note color="medium" class="ion-margin-horizontal">
          <div *ngIf="(username?.dirty || username?.touched) && username?.errors" class="errors">
            <span *ngIf="username?.errors?.['required']">L'usuari és obligatori</span>
            <span *ngIf="username?.errors?.['minlength']">L'usuari ha de tenir un mínim de 3 caracters</span>
          </div>
          <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
            <span *ngIf="password?.errors?.['required']">La contrasenya és obligatòria</span>
            <span *ngIf="password?.errors?.['minlength']">La contrasenya ha de tenir un mínim de 8 caracters</span>
          </div>
        </ion-note>
      </div>
    </div>

    <ion-button id="register-button" type="button" expand="block" fill="clear" (click)="register()">
      No tens compte? Registra't
    </ion-button>
    <ion-button id="login-button" type="submit" expand="block" [disabled]="!credentials.valid" color="primary">Inicia
      la
      sessió</ion-button>

  </form>
</ion-content>