ion-content {
  --padding-top: 10%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: linear-gradient(45deg, #ffe5ed 0%, #fff7e5 100%);
}



#logo {
  max-height: 30dvh;
  text-align: center;
  margin-bottom: 30px;

  img {
    max-height: 20dvh;
  }
}