<ion-tabs>
  <ion-tab-bar slot="bottom" [translucent]="true">
    <ion-tab-button tab="list" href="/tests/list">
      <ion-icon aria-hidden="true" name="grid"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="/tests/create">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
      <ion-label>Crea</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tests/favorites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favorits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user" href="/user">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>