<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list" href="/tabss/tab1">
      <ion-icon aria-hidden="true" name="grid"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabss/tab2">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
      <ion-label>Crea</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabss/tab3">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favorits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabss/tab4">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>