<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="toggleFavorite()">
        <ion-icon slot="icon-only" *ngIf="test != null" [name]="test.favorite ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detall del test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" *ngIf="test != null; else skeleton">
  <h1 class="ion-padding-horizontal">{{ test.title }}</h1>

  <!-- General info about the test -->
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <h3>Descripció</h3>
        <p>{{ test.description }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Puntuació per encert</h3>
        <p>{{ test.successScore }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Puntuació per error</h3>
        <p>{{ test.errorScore }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Darrera vegada realitzat</h3>
        <p>{{ test.lastTimeDone ? test.lastTimeDone : 'Mai' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Action buttons for the general info -->
  <ion-button expand="block" class="ion-padding-horizontal">Edita les dades generals</ion-button>
  <ion-button expand="block" class="ion-padding-horizontal" fill="clear">Elimina el test</ion-button>

  <!-- General info about the questions -->
  <h2 class="ion-padding-horizontal">Preguntes</h2>
  <ion-list [inset]="true" *ngIf="test.questions != null && test.questions.length > 0">
    <ion-item-sliding *ngFor="let question of test.questions; let i = index">
      <ion-item>
        <ion-label>{{ i + 1 }}. {{ question.statement }}</ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option> <ion-icon slot="icon-only" name="pencil"></ion-icon></ion-item-option>
        <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-note color="medium" class="ion-padding" *ngIf="test.questions == null || test.questions.length == 0">
    Encara no heu afegit cap pregunta.
  </ion-note>
  <!-- Action buttons for the general info -->
  <ion-button expand="block"
    [class]="test.questions != null && test.questions.length > 0 ? 'ion-padding-horizontal' : 'ion-padding'">Afegeix una
    pregunta</ion-button>
</ion-content>

<ng-template #skeleton>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>